@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

body 
{
     background-image:url("background.gif");
 background-repeat: no-repeat;
 background-size: cover;

}
#vidtop-content {
	top: 0;
	color: #fff;
}
.vid-info { position: absolute; top: 0; right: 0; width: 33%; background: rgba(0,0,0,0.3); color: #fff; padding: 1rem; font-family: Avenir, Helvetica, sans-serif; }
.vid-info h1 { font-size: 2rem; font-weight: 700; margin-top: 0; line-height: 1.2; }
.vid-info a { display: block; color: #fff; text-decoration: none; background: rgba(0,0,0,0.5); transition: .6s background; border-bottom: none; margin: 1rem auto; text-align: center; }
@media (min-aspect-ratio: 16/9) {
 .video-foreground { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground { width: 300%; left: -100%; }
}
@media all and (max-width: 600px) {
.vid-info { width: 50%; padding: .5rem; }
.vid-info h1 { margin-bottom: .2rem; }
}
@media all and (max-width: 500px) {
.vid-info .acronym { display: none; }
}


@font-face{
    font-family: font;
    src: url(font.ttf);
}


h1{
	color: white;
	font-size: 60px;
	position: relative;
	top: 355px;
	text-align: center;
	font-family: font;
		-webkit-animation: fadein 5s; /* Safari, Chrome and Opera > 12.1 */
		-moz-animation: fadein 5s; /* Firefox < 16 */
			-ms-animation: fadein 5s; /* Internet Explorer */
				-o-animation: fadein 5s; /* Opera < 12.1 */
	animation: fadein 5s;
}
    

h2{
	font-size: 30px;
	font-family: font;
	text-align: center;
	position: relative;
	top: 330px;
		-webkit-animation: fadein 5s; /* Safari, Chrome and Opera > 12.1 */
		-moz-animation: fadein 5s; /* Firefox < 16 */
			-ms-animation: fadein 5s; /* Internet Explorer */
				-o-animation: fadein 5s; /* Opera < 12.1 */
	animation: fadein 5s;
}

h3{
	font-size: 30px;
	font-family: font;
	text-align: center;
	position: relative;
	top: 310px;
		-webkit-animation: fadein 5s; /* Safari, Chrome and Opera > 12.1 */
		-moz-animation: fadein 5s; /* Firefox < 16 */
			-ms-animation: fadein 5s; /* Internet Explorer */
				-o-animation: fadein 5s; /* Opera < 12.1 */
	animation: fadein 5s;
}

h4{
	font-size: 30px;
	font-family: font;
	text-align: center;
	position: relative;
	top: 282px;
		-webkit-animation: fadein 5s; /* Safari, Chrome and Opera > 12.1 */
		-moz-animation: fadein 5s; /* Firefox < 16 */
			-ms-animation: fadein 5s; /* Internet Explorer */
				-o-animation: fadein 5s; /* Opera < 12.1 */
	animation: fadein 5s;
}

a:link {
	color: white;
	text-decoration: none;
}

a:visited {
	color: white;
	text-decoration: none;
}

a:hover {
	color: grey;
	text-decoration: none;
}

a:active {
	color: white;
	text-decoration: none;
} 

    
