@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

body 
{
	margin: 0;
		padding: 0;

}

video {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	min-width: 100%
	min-height: 100%;
	width: auto;
	height: auto;
}

@font-face{
    font-family: font;
    src: url(font.ttf);
}


h1{
	color: white;
	font-size: 60px;
	position: relative;
	top: 355px;
	text-align: center;
	font-family: font;
		-webkit-animation: fadein 5s; /* Safari, Chrome and Opera > 12.1 */
		-moz-animation: fadein 5s; /* Firefox < 16 */
			-ms-animation: fadein 5s; /* Internet Explorer */
				-o-animation: fadein 5s; /* Opera < 12.1 */
	animation: fadein 5s;
}
    

h2{
	font-size: 30px;
	font-family: font;
	text-align: center;
	position: relative;
	top: 330px;
		-webkit-animation: fadein 5s; /* Safari, Chrome and Opera > 12.1 */
		-moz-animation: fadein 5s; /* Firefox < 16 */
			-ms-animation: fadein 5s; /* Internet Explorer */
				-o-animation: fadein 5s; /* Opera < 12.1 */
	animation: fadein 5s;
}

h3{
	font-size: 30px;
	font-family: font;
	text-align: center;
	position: relative;
	top: 310px;
		-webkit-animation: fadein 5s; /* Safari, Chrome and Opera > 12.1 */
		-moz-animation: fadein 5s; /* Firefox < 16 */
			-ms-animation: fadein 5s; /* Internet Explorer */
				-o-animation: fadein 5s; /* Opera < 12.1 */
	animation: fadein 5s;
}

h4{
	font-size: 30px;
	font-family: font;
	text-align: center;
	position: relative;
	top: 282px;
		-webkit-animation: fadein 5s; /* Safari, Chrome and Opera > 12.1 */
		-moz-animation: fadein 5s; /* Firefox < 16 */
			-ms-animation: fadein 5s; /* Internet Explorer */
				-o-animation: fadein 5s; /* Opera < 12.1 */
	animation: fadein 5s;
}

a:link {
	color: white;
	text-decoration: none;
}

a:visited {
	color: white;
	text-decoration: none;
}

a:hover {
	color: grey;
	text-decoration: none;
}

a:active {
	color: white;
	text-decoration: none;
} 

    
