body {
  overflow: hidden;
}

a {
    text-decoration: none;
    line-height: 200px;
    margin: auto;
    margin-top: -100px;
    z-index: 1000;
    color: inherit;
}

.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1000;
  pointer-events: none;
}

#vidtop-content {
	top: 0;
	color: #fff;
}

  .vid-info { 
    position: absolute;  
    top: 0; 
    right: 0; 
    width: 33%; 
    background: 
    rgba(0,0,0,0.3); 
    color: #fff; 
    padding: 1rem; 
    font-family: Avenir, Helvetica, sans-serif; 
}

  .vid-info h1 { 
    font-size: 2rem; 
    font-weight: 700; 
    margin-top: 0; 
    line-height: 1.2; 
}

  .vid-info a { 
    display: block; 
    color: #fff; 
    text-decoration: none; 
    background: rgba(0,0,0,0.5); 
    transition: .6s background; 
    border-bottom: none; 
    margin: 1rem auto; 
    text-align: center; 
}

@media (min-aspect-ratio: 16/9) {

  .video-foreground { 
    height: 300%; 
    top: -100%; 
}
}

@media (max-aspect-ratio: 16/9) {

  .video-foreground { 
    width: 300%; 
    left: -100%; 
}
}

@media all and (max-width: 600px) {

  .vid-info { 
    width: 50%; 
    padding: .5rem; 
}
  .vid-info h1 { 
    margin-bottom: .2rem; 
}
}

@media all and (max-width: 500px) {
  .vid-info .acronym { display: none; 
}
}

h1 {
  font-size: 100px;
  color: #FFFFFF ;
  font-family: Roboto, sans-serif;
  text-decoration: none;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
	text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

h2 {
font-size: 30px;
  color: #FFFFFF ;
  font-family: Roboto, sans-serif;
  text-align: center;
  text-decoration: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
	text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

a:link {
color: white;
text-decoration: none;
}

a:visited {
color: white;
}

a:hover {
color: slategray;
text-decoration: none;
}
